:root {
    /* contrast */
    --white: white;
    --light: #dcdcdc;
    --gray: #919191;
    --dark: #282828;
    --black: black;

    /* Primary Colors */
    --red: #ea2b1f;
    --yellow: #f1d302;
    --blue: #1446be;

    /* Secondary Colors */
    --gold: #e8af14;
    --orange: #F77F00;
    
    --pink: #ff0f80;
    --brown: #6B140F;
    --purple: #571f4e;

    --green: #32dc32;
    --lime: #61F266;
    --cyan: #2cfff9;
    --aqua: #2cb0f9;
}

/* background-colors */
.f-white { background-color: var(--white); }
.bg-light { background-color: var(--light); }
.bg-gray { background-color: var(--gray); }
.bg-dark { background-color: var(--dark); }
.bg-black { background-color: var(--black); }

.bg-red { background-color: var(--red); }
.bg-yellow { background-color: var(--yellow); }
.bg-blue { background-color: var(--blue); }

.bg-gold { background-color: var(--gold); }
.bg-orange { background-color: var(--orange); }

.bg-pink { background-color: var(--pink); }
.bg-brown { background-color: var(--brown); }
.bg-purple { background-color: var(--purple); }

.bg-green { background-color: var(--green); }
.bg-lime { background-color: var(--lime); }
.bg-cyan { background-color: var(--cyan); }
.bg-aqua { background-color: var(--aqua); }

/* Text-colors */
.f-white { color: var(--white); }
.f-light { color: var(--light); }
.f-gray { color: var(--gray); }
.f-dark { color: var(--dark); }
.f-black { color: var(--black); }

.f-red { color: var(--red); }
.f-yellow { color: var(--yellow); }
.f-blue { color: var(--blue); }

.f-gold { color: var(--gold); }
.f-orange { color: var(--orange); }

.f-pink { color: var(--pink); }
.f-brown { color: var(--brown); }
.f-purple { color: var(--purple); }

.f-green { color: var(--green); }
.f-lime { color: var(--lime); }
.f-cyan { color: var(--cyan); }
.f-aqua { color: var(--aqua); }